<h1>Customer Methods: </h1>
<section>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" (click)="getAllCustomers()">Get-All</button>
    <button mat-stroked-button color="accent">Get-One</button>
    <button mat-stroked-button color="warn">Add</button>
    <button mat-stroked-button color="warn">Update</button>
    <button mat-stroked-button disabled>Delete</button>
  </div>
</section>
<mat-divider></mat-divider>


<table *ngIf="flag2===true" style='width:100%'>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let p of customers">
    <td>{{p.id}}</td>
    <td>{{p.firstName}}</td>
    <td>{{p.lastName}}</td>
    <td>{{p.email}}</td>
    <td>{{p.password}}</td>
  </tr>
</table>
