<p>
  <mat-toolbar color="primary">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>

    </button>
    <span>Coupon System</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-raised-button color="basic" style="margin:1px;">Companies</button>
    <button mat-raised-button color="basic" style="margin:1px;">Customers</button>
    <button mat-raised-button color="basic" style="margin:1px;">Coupons</button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_add</mat-icon>
    </button>

  </mat-toolbar>
</p>

<section>
  <app-company></app-company>
  <app-customer></app-customer>
  <app-coupon></app-coupon>
</section>
