div{
    border: 1px solid black;
    position: absolute;
    top: 450px;
    right: 20px;
    padding: 10px;
}

div:nth-of-type(2){
    top: 120px;
}

.greenish{
    color: green;
    font-weight: bold;
}