<img *ngIf="!products" src="/assets/images/loading2.gif">

<div *ngIf="products">
  <table style='width:50%'>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Image</th>
    </tr>
    <tr *ngFor="let p of products">
      <td>
        <a routerLink="/product-details/{{p.id}}"> {{p.name}}</a> 
      </td>
      <td>{{p.price}}</td>
      <td>{{p.stock}}</td>
      <td>
        <app-thumbnail imageSource="/assets/images/products/{{p.id}}.jpg"></app-thumbnail>
      </td>
    </tr>
  </table>
</div>
