h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-decoration: solid;
}
table {
  margin: auto;
  width: 100%;
}
td {
  border: 1px solid black;
}
th {
  color: cornflowerblue;
  font-size: 25px;
  text-align: center;
}

.mat-form-field {
  font-size: 25px;
  width: 100%;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

button {
  padding: 8px;
  margin: 5px;
}
th {
  font-size: 25px;
  text-align: center;
}

.mat-table {
  text-align: center;
}

.mat-cell {
  font-size: 15px;
}
.head1 {
  text-align: center;
}
.head2 {
  font-size: 20px;
}
