h1 {
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-decoration: solid;
  padding: 10px;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-decoration: solid;
}
/*body {
  background-color: cornflowerblue;
}*/

.icon2 {
  color: red;
}
