<h1>Company {{type}}</h1>

<form #my_form="ngForm">
  <input name="id" #company_ID *ngIf="type==='Update'" [disabled]="type==='Update'" type="number" placeholder="id"
    [(ngModel)]="company.id">
  <br>
  <input name="name" #company_name="ngModel" type="text" required minlength="2" pattern="^[A-Z].*" placeholder="name"
    [(ngModel)]="company.name">
  <span *ngIf="company_name.errors?.required && company_name.touched">Minimal 2 characters is required!</span>
  <span *ngIf="company_name.errors?.pattern && company_name.touched">Invalid name - must start with a capital
    letter!</span>
  <br>
  <input name="email" #company_email="ngModel" type="email" required placeholder="email" pattern="^[A-Z,a-z].*"
    [(ngModel)]="company.email">
  <span *ngIf="company_email.errors?.required && company_email.touched">Missing email</span>
  <span *ngIf="company_email.errors?.pattern && company_email.touched">Invalid email - must start with a letter!</span>
  <br>
  <input name="password" #company_password="ngModel" type="password" required minlength="4" placeholder="password"
    [(ngModel)]="company.password">
  <span *ngIf="company_password.errors?.required && company_password.touched">Invalid password - must have at least 4
    signs</span>
  <br>
  <button [disabled]="!my_form.form.valid || (type === 'Update' && my_form.form.pristine)"
    (click)="addOrUpdateCompany()">{{type}}</button>
</form>

