<h1>Company {{type}}</h1>
<br><br>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" required [(ngModel)]="company.id" disabled>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p *ngIf="type==='Update'">
  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input #company_name="ngModel" required matInput placeholder="Name" [(ngModel)]="company.name" disabled>
    <mat-icon matSuffix> sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>

<p *ngIf="type==='Add'">
  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input #company_name="ngModel" required matInput placeholder="Name" [(ngModel)]="company.name">
    <mat-icon matSuffix> sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input #company_email="ngModel" matInput placeholder="Email" [(ngModel)]="company.email"  required>
    <mat-icon matSuffix
      *ngIf="!company_email.errors?.required">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input #company_password="ngModel" matInput placeholder="Password" [(ngModel)]="company.password" required
      minlength="4">
    <mat-icon matSuffix *ngIf="!company_password.errors?.required && !company_password.errors?.minlength">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <button (click)="addOrUpdateCompany()" mat-raised-button color="primary">{{type}}</button>
</p>
