/* You can add global styles to this file, and also import other style files */

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
