<h1>Coupon {{type}}</h1>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" required [(ngModel)]="coupon.id" disabled>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy" *ngIf="company.id !== null">
    <mat-label>Company Id</mat-label>
    <input required matInput placeholder="Company Id" [(ngModel)]="company.id"  disabled>
    <mat-icon matSuffix>
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="legacy" *ngIf="company.id === null">
    <mat-label>Company Id</mat-label>
    <input required matInput placeholder="Company Id" [(ngModel)]="coupon.companyID"  disabled>
    <mat-icon matSuffix>
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Category Id</mat-label>
    <input #category_Id="ngModel" required matInput placeholder="Category Id" [(ngModel)]="coupon.categoryID">
    <mat-icon matSuffix *ngIf="!category_Id.errors?.required">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Title</mat-label>
    <input #title="ngModel" required matInput placeholder="Title" [(ngModel)]="coupon.title">
    <mat-icon matSuffix *ngIf="!title.errors?.required">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Description</mat-label>
    <input #description="ngModel" required matInput placeholder="Description" [(ngModel)]="coupon.description"
      minlength="4">
    <mat-icon matSuffix *ngIf="!description.errors?.required && !description.errors?.minlength">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Start Date</mat-label>
    <input #start_date="ngModel" required matInput placeholder="Start Date" [(ngModel)]="coupon.start_date">
    <mat-icon matSuffix *ngIf="!start_date.errors?.required">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>End Date</mat-label>
    <input #end_date="ngModel" required matInput placeholder="End Date" [(ngModel)]="coupon.end_date">
    <mat-icon matSuffix *ngIf="!end_date.errors?.required">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Amount</mat-label>
    <input #amount="ngModel" matInput placeholder="Amount" [(ngModel)]="coupon.amount" min="1" required>
    <mat-icon matSuffix *ngIf="!amount.errors?.required && !amount.errors?.min">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Price</mat-label>
    <input #price="ngModel" matInput placeholder="Price" [(ngModel)]="coupon.price" required min="0">
    <mat-icon matSuffix *ngIf="!price.errors?.required && !price.errors?.min">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Image</mat-label>
    <input #image="ngModel" matInput placeholder="Image" [(ngModel)]="coupon.image" required>
    <mat-icon matSuffix *ngIf="!image.errors?.required">
      sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<p>
  <button (click)="addOrUpdateCoupon()" mat-raised-button color="primary">{{type}}</button>
</p>
