h1 {
color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-size: 50px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
text-decoration: solid;
}
h3 {
color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-size: 35px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
text-decoration: solid;
margin: 35px;
text-decoration: underline;
}
table {
margin: auto;
}
table, th,td {
border: 1px solid blue;
}
tr:nth-child(even) {
background-color: lightblue;
}
tr:nth-child(odd) {
background-color: lightcoral;
}
tr:first-child {
background-color: gray;
}