<div>
    <table style='width:100%'>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let p of companies">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.password}}</td>
        <td> <button [routerLink]="['/add-and-update/' + p.id]"
            routerLinkActive="router-link-active">Update</button> <button (click)="deleteCompany(p.id)">Delete</button>
        </td>
      </tr>
    </table>
    <button [routerLink]="['/add-and-update/'+ 0]" routerLinkActive="router-link-active">Add</button>
  </div>
