<h1>Companies Methods:</h1>
<div>
  <table style='width:100%'>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let p of companies">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.email}}</td>
      <td>{{p.password}}</td>
      <td> <button [routerLink]="['/add-and-update/' + p.id]" routerLinkActive="router-link-active">Update</button>
        <button (click)="deleteCompany(p.id)">Delete</button>
      </td>
    </tr>
  </table>
  <button [routerLink]="['/add-and-update/'+ 0]" routerLinkActive="router-link-active">Add</button>
</div>

<h1>Customer Methods:</h1>
<div>
  <table style='width:100%'>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let p of customers">
      <td>{{p.id}}</td>
      <td>{{p.firstName}}</td>
      <td>{{p.lastName}}</td>
      <td>{{p.email}}</td>
      <td>{{p.password}}</td>
      <td> <button [routerLink]="['/customer-add-and-update/' + p.id]"
          routerLinkActive="router-link-active">Update</button>
        <button (click)="deleteCompany(p.id)">Delete</button>
      </td>
    </tr>
  </table>
  <button [routerLink]="['/customer-add-and-update/'+ 0]" routerLinkActive="router-link-active">Add</button>
</div>

<h1>Coupon Methods:</h1>
<div>
  <table style='width:100%'>
    <tr>
      <th>Id</th>
      <th>Company ID</th>
      <th>Category ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let p of coupons">
      <td>{{p.id}}</td>
      <td>{{p.companyID}}</td>
      <td>{{p.categoryID}}</td>
      <td>{{p.title}}</td>
      <td>{{p.description}}</td>
      <td>{{p.startDate}}</td>
      <td>{{p.endDate}}</td>
      <td>{{p.amount}}</td>
      <td>{{p.price}}</td>
      <td>{{p.image}}</td>
      <td> <button [routerLink]="['/customer-add-and-update/' + p.id]"
          routerLinkActive="router-link-active">Update</button>
        <button (click)="deleteCompany(p.id)">Delete</button>
      </td>
    </tr>
  </table>
  <button [routerLink]="['/customer-add-and-update/'+ 0]" routerLinkActive="router-link-active">Add</button>
</div>
