
section{
height: 100%;
border: 2px solid black;
text-align: center;
background-image: url('/assets/images/backgroundHome3.jpg');
box-sizing: border-box;
display: grid;
grid-template-rows: 15% 70% 15%;
grid-template-columns: repeat(12,1fr);
}
header{
grid-column: span 12;
border: 2px solid black;
font-size: 30px;
}
footer{
grid-column: span 12;
border: 2px solid black;
font-size: 30px;
}
main{
grid-column: span 10;
border: 2px solid black;
}
aside{
grid-column: span 2;
border: 2px solid black;
font-size: 30px;
}
