<p>
  {{x}}
</p>

<h1>Company Methods: </h1>
<section>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" (click)="getAllCompanies()">Get-All</button>
    <button mat-stroked-button color="accent">Get-One</button>
    <button mat-stroked-button color="warn">Add</button>
    <button mat-stroked-button color="warn">Update</button>
    <button mat-stroked-button disabled>Delete</button>
  </div>
</section>
<mat-divider></mat-divider>


<table *ngIf="flag===true" style='width:100%'>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let p of companies">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.email}}</td>
    <td>{{p.password}}</td>
  </tr>
</table>
