section{
    height: 100%;
    border: 2px solid black;
    background-color: pink;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: repeat(12,1fr);
}
header{
    grid-column: span 12;
    border: 2px solid black;
}
footer{

}
main{

}
menu{
    
}