<form #formInfo="ngForm"> 

    <!--מה שרשמנו בדרישה לתבנית, זה שהוא חיב להתחיל באות גדולה-->
    <input #nameInfo="ngModel" required pattern="^[A-Z].*$" type="text" placeholder="Name:" [(ngModel)]="product.name" name="name">
    <span *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing name</span>
    <span *ngIf="nameInfo.errors?.pattern && nameInfo.touched">Name must start with a capital letter</span>
    <br> <br>
    <input #priceInfo="ngModel" required min="0" max="1000" type="number" placeholder="Price:" [(ngModel)]="product.price" name="price">
    <span *ngIf="priceInfo.invalid && priceInfo.touched">Missing price</span>
    <br> <br>
    <input #stockInfo="ngModel" required  min="0" max="1000" type="number" placeholder="Stock:" [(ngModel)]="product.stock" name="stock">
    <span *ngIf="stockInfo.invalid && stockInfo.touched">Missing stock</span>
    <br> <br>

    <button [disabled]="!formInfo.form.valid" (click)="addProduct()">Add Product</button>

</form>