<h1>Coupon {{type}}</h1>

<form #my_form="ngForm">
  <input name="id" #coupon_ID *ngIf="type==='Update'" [disabled]="type==='Update'" type="number" placeholder="id"
    [(ngModel)]="coupon.id">
  <br>
  <input name="companyID" #company_ID="ngModel" type="number" required placeholder="company Id"
    [(ngModel)]="coupon.companyID">
  <br>
  <input name="CategoryID" #category_ID="ngModel" type="text" required  placeholder="Category ID"
    [(ngModel)]="coupon.categoryID">
  <br>
  <input name="title" #title="ngModel" type="text" required  placeholder="title" [(ngModel)]="coupon.title">
  <br>
  <input name="description" #description="ngModel" type="text"  placeholder="description"
    [(ngModel)]="coupon.description">
  <br>
  <input name="startDate" #start_date="ngModel" type="date" required  placeholder="start Date"
    [(ngModel)]="coupon.startDate">
  <br>
  <input name="endDate" #end_date="ngModel" type="date" required  placeholder="end Date" [(ngModel)]="coupon.endDate">
  <br>
  <input name="amount" #amount="ngModel" type="number" required placeholder="amount" [(ngModel)]="coupon.amount">
  <br>
  <input name="price" #price="ngModel" type="number" required placeholder="price" [(ngModel)]="coupon.price">
  <br>
  <input name="image" #image="ngModel" type="text" required placeholder="image" [(ngModel)]="coupon.image">
  <br>
  <button [disabled]="!my_form.form.valid || (type === 'Update' && my_form.form.pristine)"
    (click)="addOrUpdateCoupon()">{{type}}</button>
</form>
